/*
The CSS is organized to follow the same structure as the HTML file top to bottom. Classes were used most heavily and were named
consistently with semantic tags utilized in the HTML file. Classess were asigned to elemenets since often times, common elements (e.x an h2)
would have different styling in different sections / asides etc.
/*

/*Global Styling and Styling By Generic Elemenet Selector*/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #d9dcd6;
    }

    h1 h2 h3 p a {
        color: #ffffff;
    }

/*Styling for the Header and Child Elemenets*/

    .header {
        background-color: #2a607c;
        color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 20px;

       
     }

        .header-h1 {
            display: inline-block;
            font-size: 48px;
            
        }

        .header-span {
            color: #d9dcd6;
        }

        .nav {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            padding-top: 15px;
            margin-right: 20px;
            float: right;
         }

            .nav-li {
                display:inline-block;
                margin-left:25px;
            }

                .nav-a {
                    color: #ffffff;
                    text-decoration: none;
                }

 /*Styling for the HERO Container*/

    .hero {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0px;
        padding-top:0px;
        padding-right: 0px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }
    
/*Styling For The Main Content Section and Child Elemenets*/

    .content {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
    }

        .content-box {
            background-color: #0072bb;
            color: #ffffff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 20px;
            padding: 50px;
            height: 300px;
        }

            .content-h2 {
                font-size: 45px;
                margin-bottom:25px;
            }
            
            .content-img-l { 
                max-height: 200px;
                float: left;
                margin-right: 25px;
            }   

            .content-img-r { 
                max-height: 200px;
                float: right;
                margin-left: 25px;
            }   


/*Styling For The Benefits Aside and Child Elements*/   

    .benefits {
        background-color: #269be4;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 20%;
        height: 100%;
        margin-right: 20px;
        padding: 20px;
        float: right;
    }

        .benefit-box {
            color: #ffffff;
            margin-bottom: 32px;
        }

            .benefit-h3 {
                text-align: center;
            }

            .benefit-img {
                display: block;
                max-width: 150px;
                margin: 10px auto;
            }


/*This is the Styling for the Footer*/

    .footer {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:20px;
        text-align: center;
        padding: 30px;
    }

        .footer-h3 {
            font-size: 24px;
        }

    
